<footer>
    {{#if first }}
        <p>Logged in as {{ first }} {{ last }}.</p>
        <a href="/logout">LOGOUT</a>
        <a href="/profile/edit">MY PROFILE</a>
        <a href="/petition">SIGN PETITION</a>
    {{/if }}
</footer>
