<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div id="container">

            <div id="form-box">

                <form class="login-form" method="POST" autocomplete="off">
                    <input class="input-field" type="text" name="email" placeholder="email ..." required/>
                    <input class="input-field" type="password" name="password" placeholder="password ..." required/><input type="submit" class="submit-button" value="login"/>
                    <!-- put this in every form !!! -->
                    <input name="_csrf" value="{{csrfToken}}" type="hidden" />
                </form>


            </div>


            {{#if error }}
            <div class="error">Something went wrong! Try again!</div>
            {{/if }}

            {{#if noUser }}
            <div class="error">No user with this email. </div>
            {{/if }}

            {{#if wrongPass }}
            <div class="error">You've entered the wrong password. Please try again!</div>
            {{/if }}

            <a href="/registration">Register new user</a>
        </div>
    </body>
</html>
