<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">

            <div id="form-box">

                <form class="login-form" method="POST" autocomplete="off">
                    <input class="input-field" type="text" name="email" placeholder="email ..." required/>
                    <label for="email">*email</label>
                    <input class="input-field" type="password" name="password" placeholder="password ..." required/>
                    <label for="password">*password</label>
                    <input type="submit" class="submit-button" value="login"/>
                    <!-- put this in every form !!! -->
                    <input name="_csrf" value="{{csrfToken}}" type="hidden" />
                </form>

                {{#if error }}
                <div class="error">Something went wrong! Try again!</div>
                {{/if }}

                {{#if noUser }}
                <div class="error">No user with this email. </div>
                {{/if }}

                {{#if wrongPass }}
                <div class="error">You've entered the wrong password. Please try again!</div>
                {{/if }}

                <a href="/registration">Register new user</a>
            </div>



        </div>

    </body>
</html>
