<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>

        <div id="container">
            <p>Hello {{ first }},</p>
            <p>Rhabarber is nice...</p>
            <p>but Fritz sodas come in all different colors and flavors...  </p>
            <p>and we should show love to all of them!</p>
            <p>So let's strengthen the diversity of available drinks at SPICED.</p>
            <p>And put an end to pink supremacy! ;)</p>
            <p>Sign our petition NOW and help our noble cause</p>

            <div id="form-box">
                <form method="POST" autocomplete="off">
                    <!-- <input class="input-field" type="text" name="first" placeholder="first name ..."/>
                    <input class="input-field" type="text" name="last" placeholder="last name ..."/> -->
                    <input type="hidden" name="signature" id="signature"  />
                    <p>Please sign here:</p>
                    <canvas id="canvas" width="400" height="100"></canvas>
                    <input type="submit" class="submit-button" value="submit"/>
                    <!-- put this in every form !!! -->
                    <input name="_csrf" value="{{csrfToken}}" type="hidden" />
                </form>
            </div>

            {{#if error }}
            <div class="error">Please provide your signature to proceed!</div>
            {{/if }}

        </div>

        {{>logout }}

    </body>
</html>
