<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <div class="container">

            <div id="form-box">

                <div id="profile">
                    Now please tell us a bit about yourself.
                </div>

                <form class="login-form" method="POST" autocomplete="off">
                    <input class="input-field" type="text" name="age" placeholder="age ..."/>
                    <label for="age">age</label>
                    <input class="input-field" type="text" name="city" placeholder="city ..."/>
                    <label for="city">city</label>
                    <input class="input-field" type="text" name="url" placeholder="homepage ..."/>
                    <label for="url">url</label>
                    <input type="submit" class="submit-button" value="continue"/>
                    <!-- put this in every form !!! -->
                    <input name="_csrf" value="{{csrfToken}}" type="hidden" />
                </form>

            </div>

        </div>

    </body>
</html>
