<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
    </head>
    <body>

        <div id="thanks-box">
            <h2>Thank you for your signature!</h2>

            <img src="{{userSig}}" alt="">

            <p>{{number}} supporters have signed this petition</p>

            <a href="/signers">Click here to see a list of all supporters</a>
        </div>

        {{>footer }}

    </body>
</html>
